<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <h1>{{title}}</h1>
    </div>
    <div class="col-xs-3 text-right" style="line-height: 4em">
      <button type="button" class="btn btn-default" aria-label="Configuration">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<!--
<ul>
  <li *ngFor="let endpointUrl of endpointsUrl">
    {{endpointUrl}}
  </li>
</ul>
-->

<div id="listeEndpoints">
  <div *ngFor="let endpointUrl of endpointsUrl" class="endpoint">
    <endpoint-detail url="{{endpointUrl}}"></endpoint-detail>
  </div>
</div>

<h2>Configuration</h2>

<textarea  [(ngModel)]="endpointsInput" spellcheck="false" rows="6" style="width:90%">
http://localhost:8080/supervision/info
http://dev1/supervision/info
http://dev2/supervision/info
http://dev3/supervision/info
http://dev4/supervision/info
</textarea>
<div><button class="btn btn-default" (click)="updateEndpoints()">Update endpoints</button></div>
<p>{{endpointsInput}}</p>
