<div class="">
  <h1 style="margin-top: 0; margin-bottom:0;">{{url}}</h1>
  <div class="content">
    <div class="loading" style="margin-top: 7em" *ngIf="isLoading">
      <span class="loader"><span class="loader-inner"></span></span>
      <p>Loading...</p>
    </div>
    <div class="success" *ngIf="!isLoading && !isError">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#git" data-slide-to="0" class="active"></li>
          <li data-target="#build" data-slide-to="1"></li>
          <li data-target="#metrics" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h2>Build</h2>
            <div>{{build.artifact}} {{build.version}}</div>
            <div>{{build.group}}</div>
            <div>Build on {{build.time | date:'d MMM y HH:mm:ss' }}</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
          <div class="item">
            <h2>Git</h2>
            <div>Commit #<strong>{{git.commit.id | maxLength}}</strong> on branch <strong>{{git.branch}}</strong></div>
            <div>{{git.commit.message.full}} by {{git.commit.user.name}}</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
          <div class="item">
            <h2>Metrics</h2>
            <div>Heap : {{metrics["heap.used"] | formatSize}} / {{metrics.heap | formatSize}}</div>
            <div>{{metrics['instance.uptime'] | duration}}</div>
            <div>Threads : {{metrics['threads']}} (peak: {{metrics['threads.peak']}})&nbsp;</div>
            <div>GC Copy : {{metrics['gc.copy.time']}} ms</div>
            <div>GC Mark&Sweep : {{metrics['gc.marksweepcompact.time']}} ms&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <!--
      <div>Commit #<strong>{{git.commit.id | maxLength}}</strong> on branch <strong>{{git.branch}}</strong></div>
      <div>{{git.commit.message.full}} by {{git.commit.user.name}}</div>
      <div>{{build.artifact}} {{build.version}}</div>
      <div>{{build.group}}</div>
      <div>Build on {{build.time | date:'d MMM y HH:mm:ss' }}</div>
      <div>{{metrics.heap_used}} / {{metrics.heap}}</div>
      <div>{{metrics.instance_uptime}}</div>
      <div>
        <button class="btn btn-default" (click)="update()">Update</button>
      </div>
      -->
    </div>
    <div class="error" *ngIf="isError">
      <p>Endpoint cannot be reach.</p>
    </div>
  </div>
  <!--
  <div class="footer">
    <div>&nbsp;</div>
  </div>
  -->
</div>
